<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   Escolha a empresa que pretende modificar:
   
<ul>
    {% for pessoa in pessoas %}
        <li>{{ pessoa.id }} -  {{ pessoa.nome }}
            <a href="{% url 'editar' pessoa.id %}">Editar</a> </li>
            <a href="{% url 'delete' pessoa.id %}">delete</a>
    {% endfor %}
</ul>



<ol>
    {% for empresa in empresas %}
    <li>{{ empresa.id }} -  {{ empresa.nome }}
        <a href="{% url 'editar' empresa.id %}">Visualizar</a> </li>
       
    {% endfor %}

</ol>
<form action="{% url 'salvar' %}"method="POST">
    {% csrf_token %}
    <input type="text"name="nome">
    <button type="submit">salvar</button>
</form>
</body>
</html>